/* Estilos para pantallas de teléfono */
@media (max-width: 767px) {
  /* Aquí puedes definir estilos específicos para pantallas de teléfono */
  body {
    font-size: 16px;
  }

  .max-w-xl {
    max-width: 100%;
  }

  table {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }

  /* Ajusta el tamaño de la imagen del perfil */
  .rounded-lg.w-48 {
    /* Mantén el tamaño original de la imagen */
  }

  /* Centra el texto de habilidades y experiencia */
  .text-xl.text-gray-900.m-auto {
    text-align: center;
  }
}
@media (min-width: 768px) {
  /* Aquí puedes definir estilos específicos para pantallas grandes */
  body {
    font-size: 20px;
  }
  

  table {
    margin-left: 15px;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }


}

/* Estilos para pantallas grandes (mayores de 1200px) */
@media (min-width: 1201px) {
  /* Aquí puedes definir estilos específicos para pantallas grandes */
  body {
    font-size: 20px;
  }
  

  table {
    margin-left: 15px;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }


}