@media (max-width: 767px) {
  body {
    font-size: 16px;
  }

  .max-w-xl {
    max-width: 100%;
  }

  table {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }

  .text-xl.text-gray-900.m-auto {
    text-align: center;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
  
  table {
    margin-left: 15px;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }


}

@media (min-width: 1201px) {

  body {
    font-size: 20px;
  }
  

  table {
    margin-left: 15px;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }

}
